:root {
    --radius-1: 70%;
    --radius-2: 30%;
    --radius-3: 30%;
    --radius-4: 70%;
    --radius-5: 60%;
    --radius-6: 40%;
    --radius-7: 60%;
    --radius-8: 40%;
}

html, body {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    height: auto;
    margin: 0;
}

body {
    color: #ffffff;
    background: #1f1f1f;
}

.material-symbols-outlined {
    cursor: pointer;
    font-size: 50px!important;
    margin: .5em 0 .75em 0;
    user-select: none;
}

input {
    cursor: pointer;
}

h1 {
    text-align: center;
    margin: 1em;
}

.parent {
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

.blob-wrapper {
    display: grid;
    place-items: center;
}

.blob {
    background: linear-gradient(140deg, #00aaff, #ff14e7);
    border-radius: var(--radius-1) var(--radius-2) var(--radius-3) var(--radius-4) / var(--radius-5) var(--radius-6) var(--radius-7) var(--radius-8);
}

.code-wrapper {
    border-radius: 5px;
    padding: .5em;
    background-color: #3e3e3e;
}

.code-section {
    text-align: left;
}

.code {
    text-align: center;
}

.copy-wrapper {
    text-align: end;
}

.inputs-wrapper {
    display: grid;
}

u {
    cursor: pointer;
    font-size: 13px;
}

/**
* Small screens
*/
@media (max-width: 900px) {
    h1 {
        font-size: 30px;
    }

    .inputs-wrapper {
        text-align: center;
    }

    .code-section {
        font-size: 14px;
    }

    .code-wrapper {
        margin: 1em;
        font-size: 14px;
    }

    .blob {
        width: 300px;
        height: 250px;
    }
}


/**
* Large screens
*/
@media (min-width: 900px) {
    h1 {
        font-size: 40px;
    }

    .parent {
        grid-template-columns: repeat(2, 1fr);
    }

    .inputs-wrapper {
        text-align: left;
    }

    .code {
        text-align: left;
        margin-left: 15px;
        font-size: 15px;
    }

    .blob {
        width: 400px;
        height: 300px;
    }

    .code-section {
        font-size: 15px;
    }

    .code-wrapper {
        width: 80%;
        font-size: 18px;
    }
}