@import './typography.css';

:root {
    --width: 400px;
    --height: 300px;
    --radius-1: 70%;
    --radius-2: 30%;
    --radius-3: 30%;
    --radius-4: 70%;
    --radius-5: 60%;
    --radius-6: 40%;
    --radius-7: 60%;
    --radius-8: 40%;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #ffffff;
    background: #1f1f1f;
}

h1 {
    text-align: center;
    margin: 1em;
    font-size: 40px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
}

.blob-wrapper { grid-area: 1 / 1 / 2 / 2; }
.inputs-wrapper { grid-area: 1 / 2 / 2 / 3; }

.blob {
    margin: 5em;
    width: var(--width);
    height: var(--height);
    background: linear-gradient(90deg, rgba(255,0,236,1), rgb(106, 0, 255));
    border-radius: var(--radius-1) var(--radius-2) var(--radius-3) var(--radius-4) / var(--radius-5) var(--radius-6) var(--radius-7) var(--radius-8);
}

.code-wrapper {
    margin-right: 25%;
    border-radius: 5px;
    padding: .5em;
    background-color: #3e3e3e;
    font-size: 15px;
}

