:root {
    --radius-1: 70%;
    --radius-2: 30%;
    --radius-3: 30%;
    --radius-4: 70%;
    --radius-5: 60%;
    --radius-6: 40%;
    --radius-7: 60%;
    --radius-8: 40%;
}

.material-symbols-outlined {
    cursor: pointer;
    font-size: 50px!important;
    padding: 1em;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    color: #ffffff;
    background: #1f1f1f;
}

h1 {
    text-align: center;
    margin: 1em;
    font-size: 40px;
}

.content {
    display: grid;
    place-items: center;
    margin: 5em;
}

.blob {
    margin: 5em;
    width: 400px;
    height: 400px;
    background: linear-gradient(90deg, rgba(255,0,236,1), rgb(106, 0, 255));
    border-radius: var(--radius-1) var(--radius-2) var(--radius-3) var(--radius-4) / var(--radius-5) var(--radius-6) var(--radius-7) var(--radius-8);
}

.code {
    text-align: center;
}

.code {
    margin-top: 20px;
    padding: 10px;
    color: #ffffff;
    font-size: 30px;
}
