.material-symbols-outlined {
    cursor: pointer;
    font-size: 50px!important;
    margin: 1em 0 1em 0;
    user-select: none;
}

input {
    cursor: pointer;
}

html {
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff
}